<mat-tab-group>

  <mat-tab label="All properties"> 
    
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

      <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->
    
                  <!-- Position Column -->
      <ng-container matColumnDef="index">
        <th mat-header-cell *matHeaderCellDef> Property Id. </th>
        <td mat-cell *matCellDef="let element; let i = index" > {{element.propertyNumber}} </td>
      </ng-container>
      <!-- Position Column -->
      <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef> Area </th>
        <td mat-cell *matCellDef="let element"> {{element?.propertyArea }} </td>
      </ng-container>
    
      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Value </th>
        <td mat-cell *matCellDef="let element"> {{element?.value }} </td>
      </ng-container>
    
      <!-- Weight Column -->
      <ng-container matColumnDef="weight">
        <th mat-header-cell *matHeaderCellDef> Type </th>
        <td mat-cell *matCellDef="let element"> {{element?.type}} </td>
      </ng-container>
    
      <!-- Symbol Column -->
      <ng-container matColumnDef="symbol">
        <th mat-header-cell *matHeaderCellDef> Location </th>
        <td mat-cell *matCellDef="let element"> {{element?.location}} </td>
      </ng-container>

      <ng-container matColumnDef="test">
        <th mat-header-cell *matHeaderCellDef> Owner Name </th>
        <td mat-cell *matCellDef="let element"> {{element?.ownerName}} </td>
      </ng-container>
    
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns; let i = index"></tr>
    </table>
    
    
    
    <!-- Copyright 2018 Google Inc. All Rights Reserved.
        Use of this source code is governed by an MIT-style license that
        can be found in the LICENSE file at http://angular.io/license -->



  </mat-tab>

  <mat-tab label="Add new property"> 
    
  

      <form name="singleUpdateForm" [formGroup]="singleUpdateForm" novalidate>

          <mat-form-field class="tfs-block">
              <input matInput placeholder="Enter property id" formControlName="propertyId">

            </mat-form-field>
            <mat-form-field class="tfs-block">
                <input matInput placeholder="Add new property" formControlName="area">
  
              </mat-form-field>
              <mat-form-field class="tfs-block">
                
                <input matInput placeholder="Enter cost(initial) property" formControlName="cost">
              </mat-form-field>
              <mat-form-field class="tfs-block">

                <input matInput placeholder="Type of property" formControlName="type">
                
              </mat-form-field>

              <mat-form-field class="tfs-block">

                <input matInput placeholder="Enter cost(current) property" formControlName="value">
              </mat-form-field>

              <mat-form-field class="tfs-block">

                <input matInput placeholder="location of property" formControlName="location">
              </mat-form-field>

              <mat-form-field class="tfs-block">

                <input matInput placeholder="Owner of property" formControlName="ownerName">
              </mat-form-field>
              
 
            <button mat-raised-button color="accent" class="tfs-block submit-button " aria-label="rate"
            [disabled]="singleUpdateForm.invalid" (click)="submitRate()">Save</button>
      </form>
  </mat-tab>


  <mat-tab label="Change Owner"> 
    
  

    <form name="changeOwnerForm" [formGroup]="changeOwnerForm" novalidate>


          <mat-form-field class="tfs-block">
              <input matInput placeholder="Enter property Id" formControlName="propertyId">

            </mat-form-field>
            <mat-form-field class="tfs-block">
              <input matInput placeholder="Enter new owner" formControlName="newOwner">
  
            </mat-form-field>

          <br>

          <button mat-raised-button color="accent" class="tfs-block submit-button " aria-label="rate"
          [disabled]="changeOwnerForm.invalid" (click)="changeOwner()">Save</button>
    </form>
</mat-tab>
</mat-tab-group>
