


<div class="flex-container" id="login">
  <div class="row"> 

      <div id="login-form-wrapper"  
           [@animate]="{value:'*',params:{delay:'300ms',x:'100%'}}">
        <div class=""  [@animate]="{value:'*',params:{scale:'0.2'}}">

        </div>
        <div id="login-form">

          <div class="">
           
          </div>
          <div class="title tfs-text-center"> Some Property Management</div>
          <br>
          <br>
          

          <div class="content">
            <router-outlet></router-outlet>

          </div>



        </div>
      </div>
  </div>
</div>
<ng-http-loader></ng-http-loader>
