/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";


/* global styles */
.tfs-block{
    width: 100%;
    margin: 16px auto;
    display: block;
}
.tfs-text-center{
    text-align: center
}
